header {
  height: 45px;
  background: firebrick;
  text-align: left;
  color: white; 
  font-family: monospace; 
}
body{
  background: antiquewhite; 
}
img{
  height: 150px;
  border: 5px solid black;
  float: right;
}

h3{
  color: firebrick; 
}

p{
  color: dimgray;
}
li{
  color:dimgray;
}
